html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron {
	height: 500px;
	background-image: url(../img/laptop2.jpg);
	background-repeat: no-repeat;	
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 0px;
	overflow: hidden;
	position: relative;
}

.jumbotron img {
	margin-top: 50px;
	width: 200px;
	border: 5px solid #ffff;
}

.jumbotron h1, .jumbotron p {
	color: #ffff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

.kiri, .kanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1.2s;
}

.kanan {
	transform: translate(50px, 0);
}

.kiri-go, .kanan-go {
	opacity: 1;
	transform: translate(0, 0);
}

.portfolio {
	background-color: #eee;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p i {
	color: salmon;
}

.container1{
   width: 100%;
  } 
  .skill-bar{
   text-align: left;
   padding: 10px;
   font-size: 12px;
  }
  .skill{
   color: #fff;
   font-size: 12px;
   text-align: center;
   border-radius: 10px;
  }
  .html{width: 80%;background-color: #ff0000}
  .css{width: 70%;background-color: #1E80FA}
  .js{width: 50%;background-color: #DBE223}
  .php{width: 40%;background-color: #333399}
  .mysql{width: 20%;background-color: #E93232}
  .git{width: 75%;background-color: #0d0d0d}

/* EFFECT */
.effect-15 a {
	background-color: #EAEAEA;
	border-radius: 32px;
	font-size: 35px;
	line-height: 65px;
	z-index: 1;
}
.effect-15 a:hover:before{
	color: #FFFFFF;
}
.effect-15 a:after {
	position: absolute;
	left: 50%;
	top: 50%;
	content: '';
	width: 0;
    height: 0;
    z-index: -1;
	border-radius: 32px;
}
.effect-15 a:hover:after{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Linkedin */
.linkedin {
  background-color: #EAEAEA;
  border-radius: 32px;
  font-size: 35px;
  line-height: 65px;
  z-index: 1;
}
.linkedin:before {
  content: "\f0e1";
}
.linkedin:after {
  background-color: #4698BD;
  border-radius: 32px;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: -1;
}
.linkedin:hover {
  box-shadow: 0 0 0 7px rgba(58, 136, 171, 0.15);
}
.linkedin:hover:before {
  color: #FFFFFF;
}
.linkedin:hover:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Github */
.linkedin {
	background-color: #EAEAEA;
	border-radius: 32px;
	font-size: 35px;
	line-height: 65px;
	z-index: 1;
  }
  .github:before {
	content: "\f113";
  }
  .github:after {
	background-color: #4698BD;
	border-radius: 32px;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	z-index: -1;
  }
  .github:hover {
	box-shadow: 0 0 0 7px rgba(58, 136, 171, 0.15);
  }
  .github:hover:before {
	color: #FFFFFF;
  }
  .github:hover:after {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }

.navbarku a{
	font-size: 15px ;
}

.logo img{
	width: 150px !important;
	margin-top: 10px;
	margin-left: 10px;
}

.sosmed{
	/* height: 10rem !important; */
	margin-top: -7rem;
}




